.Menu{
  column-gap: 50px;
}
.daa{
margin-top: 20px;
    display: flex;
    gap: 30px;
}
.daa button{
    width: 126px;
    height: 36px;
    border-radius: 8px;
    border: none;
    color: white;
   background: #F7D22D;
}